@import '../utils/mixins.scss';

  
  body{
    width: 100%;
    margin: 20px;
    margin-bottom: 50px;
    
  }
  
  .container{
    @include column-center
  }
  
  #root{
    width: 100%;
    
  }


